@font-face {
  font-family: "vg5000";
  src:
    url("/static/style.css") format("woff2");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(24, 24, 33);
    overflow: hidden;
    position: relative;
}

@keyframes rotate_bkg {
  from { transform: translate(-50%, -50%) rotate(0deg) scale(0.5); }
  to   { transform: translate(-50%, -50%) rotate(360deg) scale(0.5); }
}

img.star-image {
    position: absolute;
    top: 150vmax;
    left: 50%;
    transform-origin: center;
    animation: rotate_bkg 360s linear infinite;
    width: 750rem;
    height: auto;
}

.grad-filter {
    position: absolute;
    inset: 0;
    background: radial-gradient(
        ellipse 200% 200% at 50% 150%,
        rgb(64, 51, 67) 10%,
        rgba(29, 29, 40, 0.6) 75%
    );
    pointer-events: none;
    z-index: 9;
}

.mtn-wrap {
    position: absolute;
    height: 40vh;
    width: 110%;
    z-index: 10;
    bottom: 0;
    transform: translate(-5%,0%);
}

svg.mt-nittany {
    fill: rgb(19, 19, 19);
    width: 100rem;
    min-width: 100;
    height: auto;
}

.title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40vh;
    z-index: 5;
    height:50rem;
    width: 50rem;
}

span.title {
    color: white;
    font-family: "vg5000";
    font-size: 10rem;
}